extends layout

block content
  h1= title
  p Welcome to #{title}
  //-- TODO 4: landing page form
  form(action="/", method="POST")
    input(type="email", name="lead_email", placeholder="Enter your email address")
    button(type="submit") Submit
    //- listing of leads (view)
  if leads
    h2 Leads
    //- note: leads is an array of objects
    for lead in leads
      p
        span #{lead.email}
        |
        |
        a(href="/lead/" + lead.id) Details