extends layout

block content
  h1= title
  p Welcome to #{title}
  //-- TODO 4: landing page form
  form(action="/", method="POST")
    input(type="email", name="lead_email", placeholder="Enter your email address")
    button(type="submit") Submit
  if leads
    h2 Leads
    //- note: leads is an array of objects
    for lead in leads
      p #{lead.email}