doctype html
html(lang='en')
  include common/header.pug
  //- invoke header mixin
  +header("Starter MVP")
  body
    header
      //- navbar
      include common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            //- h1= title
            //- p Welcome to #{title}
            h1.mb-3 Minimum Viable Product Landing Page
            p.lead Built using Node.js, Express and PostGreSQL
            p.lead.mb-4 Landing page to collect sales lead
            //-- TODO 4: landing page form
            form(action="/", method="POST")
              .input-group.mb-3
                input(type="email", name="lead_email" placeholder="Enter your Email address").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get Started
    include common/footer.pug
    +footer()
    //- Scripts
    script(src="/javascripts/leads.js")
  